.tabs{
    display:flex;
    border-bottom:1px solid #efefef;
    color:#9597aa;
}

.tabs > * {
    margin:0px 20px 0px 20px;
    cursor: pointer;
}


.active{
    color:var(--brand-color);
    border-bottom: 2px solid var(--brand-color);
}