.activePage{
    background-color:var(--brand-color);
    color:white;
    border-radius:6px
}

.pageButton{
    margin:0px 0px 0px 20px;
    width:24px;
    cursor: pointer;
    transition:background-color ease 0.4s
}