.enterPubKeyModal >p{
    font-size:13px;
    color:#8c8999
}


@media only screen and (max-width: 640px) {
    .modal {
      z-index: 100;
      position: fixed;
      inset: 0;
      background: rgb(0, 0, 0, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: auto;
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  
    .modalBody {
      display: flex;
      padding: 0px 0px 20px 0px;
      position: relative;
      flex-direction: column;
      min-width: 90%;
    }
  
    .modalClose {
      place-self: end;
      margin-bottom: 2px;
      margin-top: 14px;
      background: transparent;
      outline: 0;
      border: none;
      cursor: pointer;
    }
  
    .modalContent {
      background: white;
      padding: 5px;
      border-radius: 0.75rem;
    }

    .enterPubKeyModal {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        max-width:500px;

      }
  

  }
  
  @media only screen and (min-width: 640px) {
    .modal {
      z-index: 100;
      position: fixed;
      inset: 0;
      background: rgb(0, 0, 0, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: auto;
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  
    .modalBody {
      max-width: 500px;
      display: flex;
      padding: 0px 0px 20px 0px;
      position: relative;
      flex-direction: column;
    }
  
    .modalClose {
      place-self: end;
      margin-bottom: 2px;
      margin-top: 14px;
      background: transparent;
      outline: 0;
      border: none;
      cursor: pointer;
    }
  
    .modalContent {
      background: white;
      padding: 5px;
      border-radius: 0.75rem;
    }
  
    .enterPubKeyModal {
      padding: 20px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      max-width:600px;
      width:450px
    }
  }
  
  