@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-color: #ff0080;
  --normal-color: black;
  --white-text: white;
  --dark-bg: #240422;
}


@font-face {
  font-family: "PP Radio";
  src: url("../assets/fonts/PPRadioGrotesk-Regular.otf");
}

body {
  font-family: "PP Radio"
}

h1 {
  font-size: 32px;
  font-weight: 600;
}

h2 {
  font-size: 26px;
  font-weight: 600;
  color: var(--brand-color);
}

.dark {
  background: var(--dark-bg);
  color: var(--white-text);
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
    margin: auto;
  }

  .home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh
  }
}

@media only screen and (min-width: 600px) {
  .container {
    padding: 20px;
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 40px;
    margin: auto;
  }
  .home-container {
    max-width: 400px;
    margin: auto;
    display: grid;
    place-items: center;
  }
}

@media only screen and (min-width: 896px) {
  .container {
    padding: 40px;
    margin: auto;
  }
}

@media only screen and (min-width: 996px) {
  .container {
    padding: 40px;
    margin: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    padding: 50px;
    margin: auto;
  }

  .home-container {
    max-width: 500px;
    margin: auto;
  }
}
