@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");



:root{
  --brand-color:#ff0080;
  --normal-color:black;
  --white-text:white;
  --dark-bg:#240422
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: 600;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  color:var(--brand-color)
}


.dark{
  background:var(--dark-bg);
  color:var(--white-text)
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
    margin: auto;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    padding: 20px;
    margin: auto;
  }
}


@media only screen and (min-width: 768px) {
  .container {
    padding: 40px;
    margin: auto;
  }
}


@media only screen and (min-width: 896px) {
  .container {
    padding: 40px;
    margin: auto;
  }
}


@media only screen and (min-width: 996px) {
  .container {
    padding: 40px;
    margin: auto;
  }
}


@media only screen and (min-width: 1200px) {
  .container {
    padding: 50px;
    margin: auto;
  }
}
