.button{
    background-color:var(--brand-color);
    color:white;
    padding:10px 16px;
    border-radius:8px;
    max-height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: background-color ease-in 0.3s, color ease-in 0.3s;
}

.button:hover{
    color:var(--brand-color);
    background-color: white
}


@media only screen and (max-width:600px){
    .nav-header{
       display:block
    }
}


@media only screen and (min-width:600px){
    .nav-header{
       display:flex;
       justify-content: space-between
    }
}